/*AÑADIMOS LA FUENTE POPPINS*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

/*AÑADIMOS LA FUENTE POPPINS SEMIBOLD*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

/*AÑADIMOS LA FUENTE POPPINS BOLD*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

/*marcamos que todo el documento sera en fuente poppins*/
body {
    font-family: "Poppins", sans-serif;

}

/*marcamos que el titulo hilo rojo sera en poppins bold de color blanco*/
h1 {
    font-weight: 700;
    /* Bold */
    color: #fff;
}

/*marcamos que el titulo del apartado(crear perfil) sera en poppins semi bold*/
h2 {
    font-weight: 600;
    /* SemiBold */
}

/*marcamos que los titulos y campos de registro sean del mismo tipo*/
h3,
label {
    font-family: "Poppins", sans-serif;
    /* Poppins */
    font-weight: 600;
    /* SemiBold */
    font-size: 14px;
    /* tamaño de la fuente, para forzar a los h3 a ser iguales que los label*/
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

/*CREAMOS EL GRID*/
#contenedor {
    min-height: 100vh;
    background: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr;

    grid-template-rows: 1fr auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

button,
.btn-registro,
.btn-login,
.btn-usuario {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#cabecera {
  background-color: #E30c0c;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

/* LOGOS */
#logo_completo { display: block; width: 180px; }
#logo_solo { display: none; width: 60px; }

/* OPCIONES (buscador + usuario) */
.opciones {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

/* BUSCADOR */
.buscador {
  display: flex;
  align-items: center;
  gap: 8px;
}

.barra_buscador {
  padding: 6px 10px;
  border: none;
  width: 200px;
}

.btn-buscar img {
   width: 26px; /* tamaño del icono */ height: auto; display: block; 
}

/* USUARIO */
.usuario {
  display: flex;
  align-items: center;
  gap: 15px;
  font: Poppins 400 14px;
}
.btn-buscar { background: transparent; /* sin fondo */ border: none; /* sin borde */ padding: 0; /* sin espacio extra */ margin: 0; cursor: pointer; display: flex; align-items: center; }
.btn-registro,
.btn-login {
  background: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.btn-usuario {
  display: none;
  width: 38px;
  height: 38px;
  background-image: url("icono_usuario.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

/* ===========================
   TABLET (600–1023px)
=========================== */

@media (min-width: 501px) and (max-width: 800px) {

  #logo_completo { display: none; }
  #logo_solo { display: block; }

  .barra_buscador {
    width: 150px;
  }

  #cabecera{
    position: relative;
  }
  
}

/* ===========================
   MÓVIL (≤599px)
=========================== */

@media (max-width: 500px) {

  /* Logo pequeño */
  #logo_completo { display: none; }
  #logo_solo { display: block; }

  /* Ocultar input, dejar solo lupa */
  .barra_buscador {
    display: none;
  }

  /* Lupa compacta */
  .btn-buscar img {
    width: 22px;
    height: 22px;
    color: tomato;
  }

  /* Reorganizar cabecera */
  #cabecera {
    display: flex;
    align-items: center;
    position: absolute;
  }

  /* Empujar lupa + usuario a la derecha */
  .opciones {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* Ocultar botones PC */
  .btn-registro,
  .btn-login {
    display: none;
  }

  /* Mostrar icono usuario */
  .btn-usuario {
    display: flex;
  }
}


/*CONTENIDO: centramos en la pagina*/
#contenido {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

#portada {
    grid-row: 1/2;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url("fondo-portada.png");
    background-size: 100% 100%;
    /* se adapta exactamente al contenedor (sí, se deforma) */
    background-repeat: no-repeat;
    background-position: center;

    padding: 0;
    margin: 15px 0px;
}


.btn-inicio {
    margin-top: 10px;
    width: 180px;
    height: 52px;

    background-color: #E30c0c;
    color: #fff;

    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;


    border: 1.5px solid #E30c0c;

    cursor: pointer;

    transition: all 0.3s ease;
}

/* Hover lujo minimal */
.btn-inicio:hover {
    background-color: #fff;
    color: #E30c0c;
    transform: translateY(-2px);
}

#slider {
    grid-row: 3/4;
    text-align: center;
    margin: 70px 20px;

}

#slider img {
    width: 100%;
    /* ancho del viewport */
    height: auto;
    display: block;
}

#eventos_nuevos {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    margin: 40px;
}

#eventos_nuevos article {
    order: 6px solid #fff;
    /* borde tipo “marco” */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    overflow: hidden;
    margin: 30px;
    padding: 20px;
    display: flex;
    text-align: right;
}


#eventos_nuevos article div {
    padding: 20px;
}

#eventos_nuevos article img {
    width: 200px;
    height: auto;
    max-width: 36vw;
    /* nunca más grande del 10% de la pantalla */
    padding: 20px;
}



/* GRID de 3 tarjetas */
#eventos_cerca {
    grid-row: 4/5;
    display: grid;
    grid-template-rows: auto, auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    padding: 0 24px 24px;
    margin-top: 25px;
    margin-bottom: 80px;
    text-align: center;
}

#eventos_cerca h2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}


/* La tarjeta */
.card {
    grid-row: 2/3;
    border: 6px solid #fff;
    /* borde tipo “marco” */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    overflow: hidden;
    /* para que la foto no se salga */
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: white;
}

/* Contenedor de foto con tamaño fijo (SIEMPRE igual) */
.card__photo {
    width: 100%;
    height: 220px;
    /* <-- ajusta: más alto = más “alargada” */
    background: #fff;
    border-bottom: 4px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* La imagen se adapta SIN deformar */
.card__photo img {
    width: 80%;
    height: 90%;
    object-fit: cover;
    /* recorta manteniendo proporción */
    display: block;
}

/* Texto estilo “pie de foto” */
.card__title {
    margin: 14px 14px 6px;
    font-size: 16px;
    font-weight: 700;
}

.card__meta {
    margin: 0 14px 12px;
    font-size: 13px;
    opacity: .85;
}

/* Botón abajo, como etiqueta */
.card__btn {
    margin: 0 14px 14px;
    padding: 10px 12px;
    border: 2px solid #000;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    justify-self: start;
    color:#000;
    font-size: small;
}


.icon {
    background-image: url("iconos_inicio.png");
    width: 110px;
    height: 100px;
    background-size: 235px 197px;
}

#icon1 {
    background-position: -16px 9px;

}

#icon2 {
    background-position: -117px 4px;
}

#icon3 {
    background-position: -12px -85px;
    ;
}

#icon4 {
    background-position: 118px -93px;
}

/* GRID de 3 tarjetas */
#espacio_iconos {
    display: grid;
    grid-template-rows: auto, auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    padding: 35px 24px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 50px;
}

#espacio_iconos h2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}


/* La tarjeta */
.card_icon {
    grid-row: 2/3;
    overflow: hidden;
    /* para que la foto no se salga */
    display: grid;
    grid-template-rows: auto auto auto auto;
}


#espacio_iconos h2 {
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
}

/* Contenedor de foto con tamaño fijo (SIEMPRE igual) */
.card__icon_photo {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    ALIGN-ITEMS: center;
}


/* HOVER: círculo detrás + icono sube ===== */

.card__icon_photo {
    position: relative;
}

.card__icon_photo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95px;
    /* ajusta tamaño del círculo */
    height: 95px;
    border-radius: 50%;
    background: #EED4A6;
    /* tu color */
    opacity: 0;
    transform: translate(-50%, -50%) scale(.7);
    transition: opacity .2s ease, transform .3s ease;
    z-index: 0;
    pointer-events: none;
}

/* tu icono por encima (no cambia layout) */
.card__icon_photo .icon {
    position: relative;
    z-index: 1;
    transition: transform .3s ease;
}

.card__icon_photo:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.card__icon_photo:hover .icon {
    transform: translateY(-6px);
}



footer {
    grid-row: 3 / 4;
    background-color: rgba(12, 12, 12, 0.733);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer img {
    width: 50px;
    /* tamaño base */
    height: auto;
    max-width: 12vw;
    margin: 10px;
}

footer a {
    margin: 10px;
    color: #fff;
}
@media (max-width:768px) {

    #espacio_iconos h2,
    .btn {
        display: none !important;
    }
}


@media (max-width: 768px) {
    #eventos_cerca {
        display: flex;
        /* Alinea hijos en fila */
        flex-direction: column;
        /* Alineación automática (opcional) */
        gap: 40px;
        /* Espacio entre tarjetas */
        padding: 10px;
        margin: 0;
        align-items: center;
    }

    .card {

        width: 70%;
        /* Ajusta el ancho para que se vea parte del siguiente */
    }



    #cabecera-superior {
        position: static;
        /* deja de ser fixed */
    }


    /*el contenido va en columna (no grid) */
    #contenido {
        display: flex !important;
        flex-direction: column;
        gap: 50px;
        padding-top: 0;
    }

    /*  Quita cualquier “grid-row” que fuerce posiciones */
    #portada,
    #slider,
    #eventos_cerca,
    #espacio_iconos {
        grid-row: auto !important;
        grid-column: auto !important;
    }

    /* 3) Orden EXACTO en móvil */
    #portada {
        order: 1;
        margin-top: 0;
    }

    #slider {
        order: 3;
        display: block !important;
    }

    #eventos_cerca {
        order: 4;
    }

    #eventos_nuevos {
        order: 2;
    }

    #espacio_iconos {
        order: 5;
    }


    #slider {
        margin: 0 12px;
    }

    #espacio_iconos {
        margin: 0;
    }


 #eventos_nuevos article{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E30c0c;
        color: #f2f2f2;
    }
     #eventos_nuevos article div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  #eventos_nuevos article div p{
        text-align: center;
    }
   #eventos_nuevos article img{
        display: none;
    }
    
    #eventos_nuevos article div .card__btn{
        background-color: #fff;
        border: 1px;
    }

    #eventos_nuevos article div .card__btn{
    background-color: #fff;
    border: 1px;
    }

}


@media (max-width: 415px) {

    #eventos_nuevos,
    #espacio_iconos h2,
    #eventos_cerca h2,
    #eventos_nuevos,
    #portada .btn-inicio,
    .btn {
        display: none !important;
    }
}


@media (max-width: 415px) {
    #eventos_cerca {
        display: flex;
        /* Alinea hijos en fila */
        flex-wrap: nowrap;
        /* Evita que los hijos bajen de línea */
        overflow-x: auto;
        /* Habilita el scroll horizontal */
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        /* Alineación automática (opcional) */
        gap: 10px;
        /* Espacio entre tarjetas */
        padding: 10px;
        margin: 0;
    }

    .card {
        flex: 0 0 auto;
        /* Evita que los elementos se encojan */
        scroll-snap-align: center;
        /* Alineación de cada ítem (opcional) */
        width: 80%;
        /* Ajusta el ancho para que se vea parte del siguiente */
    }

    #contenedor {
        background-color: #fff;
    }

    #portada {
        background-color: #fff;
        background-image: url(fondo-movil.png);

    }



    #cabecera {
        position: static;
        /* deja de ser fixed */
    }


    /*el contenido va en columna (no grid) */
    #contenido {
        display: flex !important;
        flex-direction: column;
        gap: 50px;
        padding-top: 0;
    }

    /*  Quita cualquier “grid-row” que fuerce posiciones */
    #portada,
    #slider,
    #eventos_cerca,
    #espacio_iconos {
        grid-row: auto !important;
        grid-column: auto !important;
    }

    /* 3) Orden EXACTO en móvil */
    #portada {
        order: 1;
    }

    #slider {
        order: 4;
        display: block !important;
    }

    #eventos_cerca {
        order: 2;
    }

    #espacio_iconos {
        order: 3;
    }


    #slider {
        margin: 0 12px;
    }

    #espacio_iconos {
        margin: 0;
    }

    /* ICONOS: uno debajo del otro sí o sí */
    #espacio_iconos {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        gap: 35px;
        padding: 30px 20px;
    }
    #portada div h2{
        font-size: larger;
    }

    
}

