/*AÑADIMOS LA FUENTE POPPINS*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

/*AÑADIMOS LA FUENTE POPPINS SEMIBOLD*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

/*AÑADIMOS LA FUENTE POPPINS BOLD*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

/*marcamos que todo el documento sera en fuente poppins*/
body {
    font-family: "Poppins", sans-serif;
}

/*marcamos que el titulo hilo rojo sera en poppins bold de color blanco*/
h1 {
    font-weight: 700;
    /* Bold */
    color: #fff;
}

/*marcamos que el titulo del apartado(crear perfil) sera en poppins semi bold*/
h2 {
    font-weight: 600;
    /* SemiBold */
}

/*marcamos que los titulos y campos de registro sean del mismo tipo*/
h3,
label {
    font-family: "Poppins", sans-serif;
    /* Poppins */
    font-weight: 600;
    /* SemiBold */
    font-size: 14px;
    /* tamaño de la fuente, para forzar a los h3 a ser iguales que los label*/
}
html, body{
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

/*CREAMOS EL GRID*/
#contenedor {
    min-height: 100vh;
    /* para que se ajuste a tamaño de pantalla */
    background: #f2f2f2;
    /* gris siempre ocupa toda la pantalla */
    display: grid;
    grid-template-columns: 1fr;
    /* 1 columna */
    grid-template-rows: auto 1fr auto;
    /* cabeceras auto, contenido se ajusta a la pantalla  */
    width: 100%;
    height: 100%;
    align-content: start;              /* evita repartos raros PRUEBA*/
}


button,
.btn-registro,
.btn-login,
.btn-usuario {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#cabecera {
  background-color: #E30c0c;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

/* LOGOS */
#logo_completo { display: block; width: 180px; }
#logo_solo { display: none; width: 60px; }

/* OPCIONES (buscador + usuario) */
.opciones {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 50px;
}

/* BUSCADOR */
.buscador {
  display: flex;
  align-items: center;
  gap: 8px;
}

.barra_buscador {
  padding: 6px 10px;
  border: none;
  width: 200px;
}

.btn-buscar img {
   width: 26px; /* tamaño del icono */
    height: auto; 
    display: block; 
}

/* USUARIO */
.usuario {
  display: flex;
  align-items: center;
  gap: 15px;
  font: Poppins 400 14px;
}
.btn-buscar { background: transparent; /* sin fondo */ border: none; /* sin borde */ padding: 0; /* sin espacio extra */ margin: 0; cursor: pointer; display: flex; align-items: center; }
.btn-registro,
.btn-login {
  background: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.btn-usuario {
  display: none;
  width: 38px;
  height: 38px;
  background-image: url("icono_usuario.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

/* ===========================
   TABLET (600–1023px)
=========================== */

@media (min-width: 501px) and (max-width: 768px) {

  #logo_completo { display: none; }
  #logo_solo { display: block; }

  .barra_buscador {
    width: 150px;
  }

}

/* ===========================
   MÓVIL (≤599px)
=========================== */

@media (max-width: 500px) {

  /* Logo pequeño */
  #logo_completo { display: none; }
  #logo_solo { display: block; }

  /* Ocultar input, dejar solo lupa */
  .barra_buscador {
    display: none;
  }

  /* Lupa compacta */
  .btn-buscar img {
    width: 22px;
    height: 22px;
    color: tomato;
  }

  /* Reorganizar cabecera */
  #cabecera {
    display: flex;
    align-items: center;
     position: relative;
  }

  /* Empujar lupa + usuario a la derecha */
  .opciones {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* Ocultar botones PC */
  .btn-registro,
  .btn-login {
    display: none;
  }

  /* Mostrar icono usuario */
  .btn-usuario {
    display: flex;
    
  }
}
/*CONTENIDO: centramos en la pagina*/
.formulario {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 2%;
    text-align: center;
    background: #fff;
    margin: 30px auto;
    /* centra */
    width: min(1100px, 92%);
    /*  ancho máximo y responsive */
    padding: 40px;
    border-radius: 8px;
    /*borde*/
    box-shadow: 0 8px 25px rgba(0, 0, 0, .12);
    /* sombra del borde para que se vea como una caja*/
    height: auto;/* para que no se estire verticalmente PRUEBA*/
  align-self: start; /* para que no se estire verticalmente PRUEBA*/
  margin-top: 90px;
}

/* contenedor en 2 columnas - contenido del formulario*/
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

/* izquierda */
.col-der {
    grid-column: 2/3;
}

/* izquierda con la línea vertical */
.col-izq {
    grid-column: 1/2;
    border-right: 3px solid #e5e5e5;
    padding: 15px;
    height: 100%;
    /* para que el borde use toda la altura estirada */
}

/*  caja de la foto - para tener guia */
.preview-foto {
    margin-top: 100px;
    height: 150px;
    display: flex;
    align-items: center;
}

.preview-foto  img {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* como se deben visalizar el titulo de los campos de la der*/
.col-der label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-style: bold;
    margin: 20px 0 6px;
}

/* como se deben visalizar los inpus de la der*/
.col-der input {
    width: 100%;
    padding: 15px 10px;
    border: 0;
    background: #ffc450;
    /* “amarillo” plantilla */
    border-radius: 4px;
    text-align: center;
}

/*como se ve las opciones multiples*/
.genero,
.preferencias {
    display: flex;
    gap: 20px;
    /* espacio entre opciones */
    justify-content: center;
    /*se ven centradas*/
    align-items: center;
    margin-bottom: 20px;
}

.genero>div,
.preferencias>div {
    display: flex;
    align-items: center;
    gap: 6px;
    /* espacio entre el círculo y el texto */
}

.genero label,
.preferencias label {
    margin: 0;
    text-transform: none;
    /* si no quieres mayúsculas aquí */
    font-size: 13px;
    text-transform: uppercase;
}

/*En caso que se marque opcion no valida, se marca en rojo*/
input:user-invalid:not(:focus) {
    border: 2px solid red;
}

.btn-submit {
    margin-top: 8px;
    background: #e30c0c;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    padding: 14px 18px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 6px 18px rgba(227, 12, 12, 0.18);
}

.sin-cuenta {
    margin-top: 14px;
    font-size: 13px;
    color: #333;
    text-align: center;
}

.sin-cuenta .link-crear {
    color: #1a73e8;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 6px;
}

.link-olvido:hover,
.sin-cuenta .link-crear:hover {
    color: #1558b0;
    text-decoration: underline;
}

.link-olvido {
    font-size: 12px;
    color: #1a73e8;
    text-decoration: underline;
}

.fila-recordar {
    margin: 14px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fila-recordar input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #e30c0c;
}


#btn-tipo-usuario,
#btn-tipo-empresa {
    margin: 10px;
    padding: 8px 5px;
    /*borde*/
    border: #fff;
    background-color: #fff;
    font-weight: 600;
    text-decoration: none;
}

#btn-tipo-empresa {
    color: grey;
}

#btn-tipo-usuario {
    color: #000;
}

footer {
    grid-row: 3 / 4;
    background-color: rgba(12, 12, 12, 0.733);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer img {
    width: 50px;
    /* tamaño base */
    height: auto;
    max-width: 12vw;
    margin: 10px;
}

footer a {
    margin: 10px;
    color: #fff;
}



/* TABLET: apila columnas (foto arriba, inputs abajo) */
@media (max-width: 780px) {

  /* El grid pasa a 1 columna */
  .form-grid{
    grid-template-columns: 1fr;
    gap: 22px;
  }

  /* Quita la línea vertical y ajusta columnas */
  .col-izq{
    grid-column: 1 / -1;
    border-right: none;
    padding: 0;
    height: auto;
  }

  .col-der{
    grid-column: 1 / -1;
  }

  /* La foto deja de “empujar” */
  .preview-foto{
    margin-top: 0;
    justify-content: center;
  }

  .preview-foto img{
    width: 100%;
    max-width: 420px;
    height: auto;
    max-height: 240px;
    object-fit: cover;
    border-radius: 10px;
  }

  /* Ajusta un poco el padding general del formulario */
  .formulario{
    padding: 26px 18px;
    margin-top: 90px; /* lo mantengo */
  }
   /* Ocultar la columna izquierda (imagen) */
  .col-izq{
    display: none;
  }
}

