<!DOCTYPE html>
<html lang="es"> <!-- "es" si la web está en español -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario El Hilo Rojo</title>
    <link rel="stylesheet" href="formulario_editar_usuario.css" /> <!-- ENLAZAMOS CON EL CSS DEL FORMULARIO -->
</head>

<body>
    <div id="contenedor">

        <div id="cabecera_superior"> <!-- cabecera superior con titulo y logo -->
            <div class="cojunto_cabezera">
                <img src="logo en blanco.png" alt="logo">
                <h1>EL HILO ROJO</h1>
            </div>
        </div>
        <section class="formulario"> <!-- contenido con formulario -->
            <div id=cabecera_titulo> <!-- cabecera con titulo del apartado -->
                <h2> EDITAR PERFIL DE EMPRESA</h2>
            </div>
            <form action="accio.php" autocomplete="on" method="get">

                <div class="form-grid">

                    <div class="col-izq">
                        <!-- forms email -->
                        <label for="email">Escribe tu email:</label>
                        <input type="email" name="email" id="email" required placeholder="ejemplo@correo.com"
                            title="Debe tener un formato valido" /><!-- placeholder nos sirve para que se vea en gris el ejemplo -->

                        <!-- forms cuidad -->
                        <label for="poblacion">Escribe tu población:</label>
                        <input type="text" name="poblacion" id="poblacion" required required pattern="[A-Za-z]{3,}"
                            placeholder=""
                            title="Debe tener al menos 3 caracteres y solo letras" /><!-- placeholder nos sirve para que se vea en gris el ejemplo -->

                        <!-- forms pasword -->
                        <label for="password">Escribe tu contraseña:</label>
                        <input type="password" name="password" id="password" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" placeholder=""
                            title=" Minimo 8 caracteres, debe incluir numeros, mayusculas y minusculas" />

                        <!-- forms repetir pasword -->
                        <label for="passwordRepeat">Repite tu contraseña:</label>
                        <input type="password" name="passwordRepeat" id="passwordRepeat" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" placeholder=""
                            title=" Minimo 8 caracteres, debe incluir numeros, mayusculas y minusculas" />
                            
                        <!-- BOTÓN SUBMIT -->
                        <button type="submit" class="btn-submit">
                            CONFIRMAR
                        </button>
                        <button type="button" class="btn-submit">Eliminar Cuenta</button>
                    </div>

                    <!-- COLUMNA DERECHA -->
                    <div class="col-der">
                        <h3>Fotografías subidas</h3>

                        <div class="preview-foto">Vista previa</div>

                        <button type="button">Agregar fotos</button>
                    </div>
                </div>
            </form>
        </section>

    </div>
    <footer>
        <img src="logo en blanco.png" alt="logo">
        <nav class="footer-nav">
            <a href="#sobre-nosotros">Sobre nosotros</a>
            <a href="#ayuda">Ayuda</a>
            <a href="#contacto">Contacto</a>
            <a href="#index">Home</a>
        </nav>

    </footer>
</body>

</html>