/*AÑADIMOS LA FUENTE POPPINS*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

/*AÑADIMOS LA FUENTE POPPINS SEMIBOLD*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

/*AÑADIMOS LA FUENTE POPPINS BOLD*/
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

/*marcamos que todo el documento sera en fuente poppins*/
body {
    font-family: "Poppins", sans-serif;
}

/*marcamos que el titulo hilo rojo sera en poppins bold de color blanco*/
h1 {
    font-weight: 700;
    /* Bold */
    color: #fff;
}

/*marcamos que el titulo del apartado(crear perfil) sera en poppins semi bold*/
h2 {
    font-weight: 600;
    /* SemiBold */
}

/*marcamos que los titulos y campos de registro sean del mismo tipo*/
h3,
label {
    font-family: "Poppins", sans-serif;
    /* Poppins */
    font-weight: 600;
    /* SemiBold */
    font-size: 14px;
    /* tamaño de la fuente, para forzar a los h3 a ser iguales que los label*/
}

/*CREAMOS EL GRID*/
#contenedor {
    min-height: 100vh;
    /* para que se ajuste a tamaño de pantalla */
    background: #f2f2f2;
    /* gris siempre ocupa toda la pantalla */
    display: grid;
    grid-template-columns: 1fr;
    /* 1 columna */
    grid-template-rows: auto 1fr auto;
    /* cabeceras auto, contenido se ajusta a la pantalla  */
    width: 100%;
    height: 100%;
    align-content: start;              /* evita repartos raros PRUEBA*/
}

#cabecera_superior {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #E30c0c;
    align-items: center;
    padding: 5px 24px;
    height: auto; /*prueba*/
  min-height: 0; /*prueba*/
}

.cojunto_cabezera {
    display: flex;
    align-items: center;
    /* centra vertical */
    justify-content: center;
    /* centra todo el bloque */
    gap: 16px;
    /* espacio entre logo y texto */
}


#cabecera {
    min-width: 0;
    /* permite que el contenido se ajuste dentro del 1fr */
}

#logo {
    /*empieza en la fila 1 y acaba en la 3 = ocupa 1 y 2*/
    grid-column: 1/2;
    display: grid;
    align-items: center;
    /* vertical */
    justify-items: end;
    /* horizontal a la derecha */
    /* centrar con grid */
}

.cojunto_cabezera img {
    width: 50px;
    /* tamaño base */
    height: auto;
    max-width: 12vw;
    /* nunca más grande del 10% de la pantalla */
}

#cabecera {
    grid-column: 2/3;
    display: grid;
    place-items: center;
    /* centrar el título con grid */
}

#cabecera h1 {
    margin: 0;
    padding: 10px 0;
    width: 80%;
    text-align: center;
    white-space: nowrap;
    font-size: clamp(18px, 3vw, 32px);
    /* rectángulo blanco dentro de la franja verde */

}

#cabecera_titulo {
    height: 40px;
    margin-bottom: 30px;
    /* o el alto que quieras */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecera_titulo h2 {
    margin: 0;
    width: 100%;
    text-align: center;
    float: none;
    /* por si había floats */
    position: static;
    /* por si estaba absolute/relative */
    left: auto;
    right: auto;
}

/*CONTENIDO: centramos en la pagina*/
.formulario {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 2%;
    text-align: center;
    background: #fff;
    margin: 30px auto;
    /* centra */
    width: min(1100px, 92%);
    /*  ancho máximo y responsive */
    padding: 40px;
    border-radius: 8px;
    /*borde*/
    box-shadow: 0 8px 25px rgba(0, 0, 0, .12);
    /* sombra del borde para que se vea como una caja*/
    height: auto;/* para que no se estire verticalmente PRUEBA*/
  align-self: start; /* para que no se estire verticalmente PRUEBA*/
}

/* contenedor en 2 columnas - contenido del formulario*/
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

/* izquierda */
.col-der {
    grid-column: 2/3;
}

/* izquierda con la línea vertical */
.col-izq {
    grid-column: 1/2;
    border-right: 3px solid #e5e5e5;
    padding: 15px;
    height: 100%;
    /* para que el borde use toda la altura estirada */
}

/*  caja de la foto - para tener guia */
.preview-foto {
    margin-top: 10px;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* como se deben visalizar el titulo de los campos de la der*/
.col-der label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-style: bold;
    margin: 14px 0 6px;
}

/* como se deben visalizar los inpus de la der*/
.col-der input {
    width: 100%;
    padding: 10px 10px;
    border: 0;
    background: #ffc450;
    /* “amarillo” plantilla */
    border-radius: 4px;
    text-align: center;
}

/*como se ve las opciones multiples*/
.genero,
.preferencias {
    display: flex;
    gap: 20px;
    /* espacio entre opciones */
    justify-content: center;
    /*se ven centradas*/
    align-items: center;
    margin-bottom: 20px;
}

.genero>div,
.preferencias>div {
    display: flex;
    align-items: center;
    gap: 6px;
    /* espacio entre el círculo y el texto */
}

.genero label,
.preferencias label {
    margin: 0;
    text-transform: none;
    /* si no quieres mayúsculas aquí */
    font-size: 13px;
    text-transform: uppercase;
}

/*En caso que se marque opcion no valida, se marca en rojo*/
input:user-invalid:not(:focus) {
    border: 2px solid red;
}

.btn-submit {
    margin: 10px;
    background-color: #E30c0c;
    color: #fff;
    padding: 8px 25px;
    border-radius: 8px;
    /*borde*/
    border: #ccc;
}

footer {
    grid-row: 3 / 4;
    background-color: rgba(12, 12, 12, 0.733);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer img {
    width: 50px;
    /* tamaño base */
    height: auto;
    max-width: 12vw;
    margin: 10px;
}

footer a {
    margin: 10px;
    color: #fff;
}