<!DOCTYPE html>
<html lang="es"> <!-- "es" si la web está en español -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Hilo Rojo</title>
    <link rel="stylesheet" href="index.css" /> <!-- ENLAZAMOS CON EL CSS DEL FORMULARIO -->
</head>

<body>
    <div id="contenedor">
        <!-- CABECERA SUPERIOR -->
        <header id="cabecera">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/logo_cabecera_nombre_logo.png" id="logo_completo" alt="Logo_completo">
                    <img src="assets/logo en blanco.png" id="logo_solo" alt="Logo_solo"></a>
            </div>
            <div class="opciones">
                <form class="buscador">
                    <input class="barra_buscador" type="search" placeholder="Buscar...">
                    <button type="submit" class="btn-buscar">
                        <img src="assets/icono_lupa.png" alt="Buscar">
                    </button>
                </form>

                <div class="usuario">
                    <a href="formularios/formulario_crear_usuario.html" class="btn-registro">
                        Registro
                    </a>

                    <a href="formularios/formulario_inicio_sesion_usuario.php" class="btn-login">
                        Iniciar sesión
                    </a>
                    <!-- Botón único para móvil -->
                    <a href="formularios/formulario_inicio_sesion_usuario.html" class="btn-usuario">
                    </a>
                </div>
            </div>
        </header>


        <main id="contenido">
            <section id="portada">
                <div>
                    <h2> CONECTAR NUNCA FUE TAN SENCILLO</h2>
                    <h3> Conexiones que no
                        <br> dependen de un algoritmo.
                    </h3>
                    <a class="btn-inicio" href="#eventos_cerca"> VER EVENTOS </a>
                </div>
            </section>

            <div id="slider">
                <img src="assets/simulador_slider.png" alt="imagen que simula donde ira el slider " />
            </div>

            <section id="eventos_nuevos">
                <h2 id="subtitulo"> RECIÉN LLEGADOS AL HILO... </h2>
                <article>
                    <img src="assets/Ejemplo_evento_1.png" alt="imagen de evento" />
                    <div>
                        <h2> GAME NIGHT DATING </h2>
                        <p> Speed dating tradicional para fans de los juegos de mesa.
                            Conecta con otras personas mientras compartís partidas, risas y conversaciones en un
                            ambiente cercano y divertido.
                            <br>Ideal para romper el hielo jugando.
                        </p>
                        <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo1" class="card__btn"> IR AL
                            EVENTO
                        </a>
                    </div>
                </article>
                <article>
                    <img src="assets/Ejemplo_evento_2.png" alt="imagen de evento" />
                    <div>
                        <h2> SPEED DATING RETRO</h2>
                        <p> Viaja a los años 50 con una experiencia divertida entre batidos, música vintage y nuevas
                            conexiones. Nunca es tarde para conectar, una experiencia única.</p>
                        <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo2" class="card__btn"> IR AL
                            EVENTO
                        </a>
                    </div>
                </article>
            </section>

            <section id="eventos_cerca">
                <h2 id="subtitulo"> CONECTA CERCA DE TI...</h2>

                <article class="card">
                    <div class="card__photo">
                        <img src="assets/Ejemplo_evento_3.png" alt="imagen evento" />
                    </div>
                    <h3 class="card__title"> ENTRE CALÇOTS</h3>
                    <p class="card__meta">Comparte calçots, vino y risas en un evento donde conocer gente fluye de forma
                        natural.</p>
                    <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo3" class="card__btn"> IR AL
                        EVENTO </a>
                </article>

                <article class="card">
                    <div class="card__photo">
                        <img src="assets/Ejemplo_evento_4.png" alt="imagen de evento" />
                    </div>
                    <h3 class="card__title">PINK LOVE EXPERIENCE</h3>
                    <p class="card__meta">Un evento pensado para quienes creen en el amor bonito. Ambiente rosa y
                        atmósfera íntima.</p>
                    <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo4" class="card__btn"> IR AL
                        EVENTO </a>
                </article>

                <article class="card">
                    <div class="card__photo">
                        <img src="assets/Ejemplo_evento_5.jpg" alt="imagen de evento" />
                    </div>
                    <h3 class="card__title">CITAS NOCTURNAS</h3>
                    <p class="card__meta"> Conversaciones sin prisas, sin presión y con un toque nocturno.</p>
                    <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo5" class="card__btn"> IR AL
                        EVENTO </a>
                </article>

                <article class="card">
                    <div class="card__photo">
                        <img src="assets/Ejemplo_evento_6.jpg" alt="imagen evento" />
                    </div>
                    <h3 class="card__title">EXPERIENCIA SOCIAL</h3>
                    <p class="card__meta">Una cena dinámica para conocer gente nueva de forma natural.</p>
                    <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo6" class="card__btn"> IR AL
                        EVENTO </a>
                </article>

                <article class="card">
                    <div class="card__photo">
                        <img src="assets/ejemplo_evento_7.jpg" alt="imagen evento" />
                    </div>
                    <h3 class="card__title">CITAS A CIEGAS</h3>
                    <p class="card__meta">Atrévete a vivir una experiencia diferente sin distracciones visuales.</p>
                    <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo7" class="card__btn"> IR AL
                        EVENTO </a>
                </article>

                <article class="card">
                    <div class="card__photo">
                        <img src="assets/ejemplo_evento_8.png" alt="imagen evento" />
                    </div>
                    <h3 class="card__title">DATING CON MASCOTAS</h3>
                    <p class="card__meta">Conecta con otras personas amantes de los animales en un entorno divertido.
                    </p>
                    <a href="/HiloRojo/controller/UserController.php?action=ver_evento&pagina=evento_ejemplo8" class="card__btn"> IR AL
                        EVENTO </a>
                </article>
            </section> 


            <section id="espacio_iconos">
                <h2 id="subtitulo"> MÁS ALLÁ DEL ENCUENTRO</h2>
                <article class="card_icon">
                    <div class="card__icon_photo">
                        <div class="icon" id="icon4"> </div>
                    </div>
                    <h3 class="card__title">Próximos Encuentros</h3>
                    <p class="card__meta">Consulta el calendario y reserva tu plaza en los próximos encuentros, cenas y
                        experiencias exclusivas.</p>
                </article>
                <article class="card_icon">
                    <div class="card__icon_photo">
                        <div class="icon" id="icon2"> </div>
                    </div>
                    <h3 class="card__title">Sugerencias & Soporte</h3>
                    <p class="card__meta">Tu opinión importa. Envíanos sugerencias o comunícanos cualquier incidencia
                        para seguir mejorando.</p>
                </article>
                <article class="card_icon">
                    <div class="card__icon_photo">
                        <div class="icon" id="icon1"> </div>
                    </div>

                    <h3 class="card__title">Guía para Conectar</h3>
                    <p class="card__meta">Descubre cómo funcionamos y prepárate con consejos prácticos para disfrutar de
                        tu experiencia.</p>
                </article>

                <article class="card_icon">
                    <div class="card__icon_photo">
                        <div class="icon" id="icon3"> </div>
                    </div>
                    <h3 class="card__title">Términos y Normativa</h3>
                    <p class="card__meta">Queremos un entorno seguro y respetuoso. Conoce nuestras normas y cómo
                        protegemos tu privacidad.</p>
                </article>

            </section>
        </main>
    </div>
    <footer>
        <img src="assets/logo en blanco.png" alt="logo del footer">
        <nav class="footer-nav">
            <a href="#sobre-nosotros">Sobre nosotros</a>
            <a href="#ayuda">Ayuda</a>
            <a href="#contacto">Contacto</a>
            <a href="index.html">Home</a>
        </nav>
    </footer>
</body>

</html>